<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="/js/roomlist/bootstrap-show-password.min.js"></script>

    <script th:inline="javascript">
        //let roomId;

        // 채팅방 생성
        function inquire() {
            let storeName = '히포케이크'; // 매장 이름

            $.ajax({
                type : "post",
                url : "/chat/inquireOrCreateRoom/",
                async : false,
                data : {
                    "storeName" : storeName
                },
                success : function(result){
                    const chatRoomDto = result;
                    const room_Id = chatRoomDto.roomId;

                    location.href = "/chat/room?roomId=" + room_Id;
                },
                error: function(xhr, status, error) {
                    alert("Error code: " + xhr.status + " 잠시 후 다시 시도해주세요.");
                }
            })
        }

        // 채팅방 삭제
        function delRoom(){
            location.href = "/chat/delRoom/"+ roomId;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="container">
            <h2>채팅방 리스트</h2>
            <div th:if="${user == null}" class="row">
                <div class="col">
                    <a href="/chatlogin"><button type="button" class="btn btn-primary">로그인하기</button></a>
                </div>
            </div>
            <h5 th:if="${user != null}">
                [[${user.nickName}]]
            </h5>
            <table class="table table-hover" id="table">
                <tr>
                    <th scope="col">채팅방명</th>
                </tr>
                <th:block th:fragment="content">
                    <tr th:each="room : ${list}">
                        <span class="hidden" th:id="${room.storeName}"></span>
                        <td>
                            <a th:href="@{/chat/room(roomId=${room.roomId})}" th:roomId="${room.roomId}">[[${room.storeName}]]</a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
        <button type="button" class="btn btn-info" onclick="inquire()">문의하기</button>
    </div>
</body>
</html>